.generate * {
    text-align: center;
}

.btn {
    margin-top: 15px;
}

.table-hover {
    margin-right: auto;
    margin-left: auto;
}

#table, #table2, #table3, #table_game {
    border-collapse: separate;
    padding: 0;
    margin-top: 15px;
}


#table td, #table2 td, #table3 td, #table_game td{
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 3px;
}

#table > tbody > tr:first-of-type > td:first-of-type,  #table2 > tbody > tr:first-of-type > td:first-of-type, #table3 > tbody > tr:first-of-type > td:first-of-type, #table_game > tbody > tr:first-of-type > td:first-of-type{
    border: none;
}

#player1, #player2, #simplify {
    display: none;
    margin: 16px 0 16px 0;
}

#range {
    display: none;
}

.red {
    background-color: #CD4A4C;
}

.blue {
    background-color: #4285B4;
}

.green {
    background-color: #77DD77;
}

p {
    margin-top: 16px !important;
    font-size: 24px;
}

#button3 {
    margin-bottom: 16px;
}

table input {
    text-align: center;
    width: 38px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    margin-left: auto;
    margin-right: auto;
}

table input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#caption1, #caption2, #caption, #caption_game, #info {
    caption-side: top;
    text-align: center;
    font: 24px "Segoe UI";
}


.explain{
    text-align: center;
}

.hover {
    background-color: #ececec;
}

li.nav-item  {
    padding: 0 !important;
}

a.nav-link {
    text-align: center;
}

.margin {
    margin-top: 15px;
    display: none !important;
}

#col-simplify {
    text-align: center;
}

.beta {
    border-color: #1e88e5 !important;
}

.alpha {
    border-color: #ed4c67 !important;
}

.dot {
    border-color: #06483a !important;
}

.blue {
    background-color: #007bff;
}

.red {
    background-color: #c92434;
}

.formula {
    margin-top: 10px;
    background-color: #28a745;
    padding-top: 10px;
    color: white;
    padding-bottom: 10px;
    font: 24px "Segoe UI";
    text-align: center;
    width: 100%;
}

#my-canvas1, #my-canvas2 {
    width: 500px;
    height: 550px;
    margin: 30px auto 30px auto;
}